.warning {
    color: #E00000;
    font-weight: bold;
}

body{
    max-width: 90%;
    margin: auto;
}

html{
    background-image: url('wood_1.png');
    background-repeat: repeat;
}

#title{
    border: 1px solid white;
    max-width: 85%;
    margin: auto;
    margin-top: 10px;
    color: #007C08;
    border-radius: 5px;
    background: #D0D0D0;
    text-align: center;
}

#content{
    background: #D0D0D0;
    padding-left: 5px;
    padding-right: 5px;
}

td{
    vertical-align: top;
    width: 35%;
    min-width: 75px;
}
